In [ ]:
import tensorflow as tf
from tensorflow.keras.layers import Dense 
from sklearn import preprocessing, model_selection
import numpy as np
import pandas as pd
from keras.layers import Flatten, Dropout, BatchNormalization

In [ ]:
df = pd.read_csv('classes.csv')
df.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M

In [ ]:
X = np.array(df.drop(['Star type', 'Star color', 'Spectral Class'], 1))

<ipython-input-4-63347e41d93d>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = np.array(df.drop(['Star type', 'Star color', 'Spectral Class'], 1))

In [ ]:
y = np.array(df['Star type'], dtype=float)
y = pd.get_dummies(y)
y

     0.0  1.0  2.0  3.0  4.0  5.0
0      1    0    0    0    0    0
1      1    0    0    0    0    0
2      1    0    0    0    0    0
3      1    0    0    0    0    0
4      1    0    0    0    0    0
..   ...  ...  ...  ...  ...  ...
235    0    0    0    0    0    1
236    0    0    0    0    0    1
237    0    0    0    0    0    1
238    0    0    0    0    0    1
239    0    0    0    0    0    1

[240 rows x 6 columns]

In [ ]:
df['Star type'].nunique()

6

In [ ]:
df.isnull().sum()

Temperature (K)           0
Luminosity(L/Lo)          0
Radius(R/Ro)              0
Absolute magnitude(Mv)    0
Star type                 0
Star color                0
Spectral Class            0
dtype: int64

In [ ]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, train_size=.7)

In [ ]:
X_f_train = preprocessing.scale(X_train)
X_f_test = preprocessing.scale(X_test)
y_f_train = y_train
y_f_test = y_test

In [ ]:
model = tf.keras.models.Sequential([
    Flatten(),
    Dense(10, activation='relu'),
    Dense(12, activation='relu'),
    Dense(8, activation='relu'),
    Dense(6, activation='softmax')
])

In [ ]:
new_Adam = tf.keras.optimizers.experimental.Adam(learning_rate=.01)

In [ ]:
model.compile(optimizer=new_Adam, loss='categorical_crossentropy', metrics=['accuracy'])

In [ ]:
model.fit(X_f_train, y_f_train, epochs=60, batch_size=32)

Epoch 1/60
6/6 [==============================] - 2s 7ms/step - loss: 1.7754 - accuracy: 0.2083
Epoch 2/60
6/6 [==============================] - 0s 5ms/step - loss: 1.7087 - accuracy: 0.3512
Epoch 3/60
6/6 [==============================] - 0s 4ms/step - loss: 1.6362 - accuracy: 0.4286
Epoch 4/60
6/6 [==============================] - 0s 6ms/step - loss: 1.5342 - accuracy: 0.4583
Epoch 5/60
6/6 [==============================] - 0s 4ms/step - loss: 1.4170 - accuracy: 0.4345
Epoch 6/60
6/6 [==============================] - 0s 7ms/step - loss: 1.2776 - accuracy: 0.4643
Epoch 7/60
6/6 [==============================] - 0s 7ms/step - loss: 1.1208 - accuracy: 0.6429
Epoch 8/60
6/6 [==============================] - 0s 4ms/step - loss: 0.9618 - accuracy: 0.6607
Epoch 9/60
6/6 [==============================] - 0s 6ms/step - loss: 0.8122 - accuracy: 0.6726
Epoch 10/60
6/6 [==============================] - 0s 5ms/step - loss: 0.7009 - accuracy: 0.6905
Epoch 11/60
6/6 [==============================] - 0s 4ms/step - loss: 0.6171 - accuracy: 0.7857
Epoch 12/60
6/6 [==============================] - 0s 4ms/step - loss: 0.5428 - accuracy: 0.8214
Epoch 13/60
6/6 [==============================] - 0s 6ms/step - loss: 0.4892 - accuracy: 0.8214
Epoch 14/60
6/6 [==============================] - 0s 7ms/step - loss: 0.4328 - accuracy: 0.8571
Epoch 15/60
6/6 [==============================] - 0s 16ms/step - loss: 0.3720 - accuracy: 0.9107
Epoch 16/60
6/6 [==============================] - 0s 4ms/step - loss: 0.3041 - accuracy: 0.8988
Epoch 17/60
6/6 [==============================] - 0s 5ms/step - loss: 0.2549 - accuracy: 0.9524
Epoch 18/60
6/6 [==============================] - 0s 5ms/step - loss: 0.2226 - accuracy: 0.9702
Epoch 19/60
6/6 [==============================] - 0s 9ms/step - loss: 0.1894 - accuracy: 0.9405
Epoch 20/60
6/6 [==============================] - 0s 8ms/step - loss: 0.1507 - accuracy: 0.9940
Epoch 21/60
6/6 [==============================] - 0s 8ms/step - loss: 0.1127 - accuracy: 0.9762
Epoch 22/60
6/6 [==============================] - 0s 7ms/step - loss: 0.0939 - accuracy: 1.0000
Epoch 23/60
6/6 [==============================] - 0s 6ms/step - loss: 0.0758 - accuracy: 1.0000
Epoch 24/60
6/6 [==============================] - 0s 5ms/step - loss: 0.0741 - accuracy: 0.9940
Epoch 25/60
6/6 [==============================] - 0s 16ms/step - loss: 0.0681 - accuracy: 0.9881
Epoch 26/60
6/6 [==============================] - 0s 9ms/step - loss: 0.0608 - accuracy: 0.9821
Epoch 27/60
6/6 [==============================] - 0s 7ms/step - loss: 0.0569 - accuracy: 0.9821
Epoch 28/60
6/6 [==============================] - 0s 8ms/step - loss: 0.0661 - accuracy: 0.9702
Epoch 29/60
6/6 [==============================] - 0s 8ms/step - loss: 0.0506 - accuracy: 1.0000
Epoch 30/60
6/6 [==============================] - 0s 5ms/step - loss: 0.0508 - accuracy: 0.9762
Epoch 31/60
6/6 [==============================] - 0s 6ms/step - loss: 0.0469 - accuracy: 0.9881
Epoch 32/60
6/6 [==============================] - 0s 6ms/step - loss: 0.0287 - accuracy: 1.0000
Epoch 33/60
6/6 [==============================] - 0s 6ms/step - loss: 0.0307 - accuracy: 1.0000
Epoch 34/60
6/6 [==============================] - 0s 5ms/step - loss: 0.0228 - accuracy: 1.0000
Epoch 35/60
6/6 [==============================] - 0s 5ms/step - loss: 0.0226 - accuracy: 1.0000
Epoch 36/60
6/6 [==============================] - 0s 6ms/step - loss: 0.0193 - accuracy: 1.0000
Epoch 37/60
6/6 [==============================] - 0s 10ms/step - loss: 0.0186 - accuracy: 1.0000
Epoch 38/60
6/6 [==============================] - 0s 6ms/step - loss: 0.0182 - accuracy: 1.0000
Epoch 39/60
6/6 [==============================] - 0s 6ms/step - loss: 0.0162 - accuracy: 1.0000
Epoch 40/60
6/6 [==============================] - 0s 6ms/step - loss: 0.0150 - accuracy: 1.0000
Epoch 41/60
6/6 [==============================] - 0s 5ms/step - loss: 0.0152 - accuracy: 1.0000
Epoch 42/60
6/6 [==============================] - 0s 5ms/step - loss: 0.0136 - accuracy: 1.0000
Epoch 43/60
6/6 [==============================] - 0s 6ms/step - loss: 0.0153 - accuracy: 1.0000
Epoch 44/60
6/6 [==============================] - 0s 5ms/step - loss: 0.0146 - accuracy: 1.0000
Epoch 45/60
6/6 [==============================] - 0s 4ms/step - loss: 0.0117 - accuracy: 1.0000
Epoch 46/60
6/6 [==============================] - 0s 5ms/step - loss: 0.0110 - accuracy: 1.0000
Epoch 47/60
6/6 [==============================] - 0s 5ms/step - loss: 0.0119 - accuracy: 1.0000
Epoch 48/60
6/6 [==============================] - 0s 10ms/step - loss: 0.0108 - accuracy: 1.0000
Epoch 49/60
6/6 [==============================] - 0s 10ms/step - loss: 0.0099 - accuracy: 1.0000
Epoch 50/60
6/6 [==============================] - 0s 7ms/step - loss: 0.0100 - accuracy: 1.0000
Epoch 51/60
6/6 [==============================] - 0s 7ms/step - loss: 0.0092 - accuracy: 1.0000
Epoch 52/60
6/6 [==============================] - 0s 7ms/step - loss: 0.0108 - accuracy: 1.0000
Epoch 53/60
6/6 [==============================] - 0s 7ms/step - loss: 0.0239 - accuracy: 0.9940
Epoch 54/60
6/6 [==============================] - 0s 8ms/step - loss: 0.0172 - accuracy: 1.0000
Epoch 55/60
6/6 [==============================] - 0s 8ms/step - loss: 0.0088 - accuracy: 1.0000
Epoch 56/60
6/6 [==============================] - 0s 6ms/step - loss: 0.0094 - accuracy: 1.0000
Epoch 57/60
6/6 [==============================] - 0s 10ms/step - loss: 0.0114 - accuracy: 1.0000
Epoch 58/60
6/6 [==============================] - 0s 8ms/step - loss: 0.0127 - accuracy: 1.0000
Epoch 59/60
6/6 [==============================] - 0s 8ms/step - loss: 0.0102 - accuracy: 1.0000
Epoch 60/60
6/6 [==============================] - 0s 6ms/step - loss: 0.0064 - accuracy: 1.0000

In [ ]:
score, acc = model.evaluate(X_f_test, y_f_test)

3/3 [==============================] - 1s 6ms/step - loss: 0.0185 - accuracy: 1.0000